{%- if config['set_up']['init_git'] +%}
git init
{%- endif +%}

{%- if config['set_up']['install_venv'] +%}
python3 -m venv venv
$(pwd)/venv/bin/pip install -r $(pwd)/{{config['backend']['name']}}/requirements.txt
{%- endif +%}

{%- if config['set_up']['generate_https_cert_key'] +%}
{%- if config['set_up']['self_signed_key'] +%}
openssl req -x509 -newkey rsa:4096 -keyout priv_key.pem -out pub_cert.pem -sha256 -days 3650 -nodes -subj "/C=XX/ST=StateName/L=CityName/O=CompanyName/OU=CompanySectionName/CN=CommonNameOrHostname"
mv $(pwd)/priv_key.pem $(pwd)/{{config['backend']['name']}}/secrets/
mv $(pwd)/pub_cert.pem $(pwd)/{{config['backend']['name']}}/secrets/
{%- elif config['set_up']['lets_encrypt_signed_key'] +%}

{%- endif +%}
{%- endif +%}