import uvicorn
from quart import Quart, render_template
from quart_schema import QuartSchema, validate_request, validate_response
from quart_project.db_interface import db_interface

{%- if config['backend']['api'] +%}
from quart_project import api
{%- endif +%}
{%- if config['backend']['html_routes'] +%}
from quart_project import html_routes
{%- endif +%}
{%- if config['plugins']['authentication'] +%}
from quart_auth import QuartAuth
from quart_project.secrets.secrets import app_secret_key
{%- endif +%}

# returns a fully configured Quart application
def create_app(webweaver_config=None):
    {%- set template_dir = config['set_up']['project_directory'] + config['set_up']['project_name'] + "/" + config['frontend']['name'] +%}
    {%- set static_dir   = config['set_up']['project_directory'] + config['set_up']['project_name'] + "/" + config['frontend']['name'] + "/static" +%}
    app = Quart(__name__, template_folder="{{ template_dir }}", static_folder="{{ static_dir }}")
    QuartSchema(app)

    {%- if config['plugins']['authentication'] +%}
    # Custom Quart Authentication; Standard Web Based and Bearer API Based
    # Quart-Auth Documentation: https://quart-auth.readthedocs.io/en/latest/tutorials/quickstart.html
    app.secret_key = app_secret_key
    QuartAuth(app)
    {%- endif +%}

    # registers all of your top level routes / (HMTL routes), /api (JSON API routes)
    {%- if config['backend']['api'] +%}
    app.register_blueprint(api.bp)
    {%- endif +%}
    {%- if config['backend']['html_routes'] +%}
    app.register_blueprint(html_routes.bp)
    {%- endif +%}

    # this config file is used by WebWeaver to ensure your web app does exactly what you specified
    if webweaver_config:
        app.config.update(webweaver_config)
    
    # Before serving the webserver: initialize the database connection; if the project has one
    @app.before_serving
    async def before_serving():
        await db_interface.init_db()

    return app