import uvicorn
from quart import Quart, render_template
from quart_schema import QuartSchema, validate_request, validate_response
from quart_project.db_interface import db_interface

{%- if config['backend']['api'] +%}
from quart_project import api
{%- endif +%}
{%- if config['backend']['html_routes'] +%}
from quart_project import html_routes
{%- endif +%}

# returns a fully configured Quart application
def create_app(webweaver_config=None):
    {%- set template_dir = config['set_up']['project_directory'] + config['set_up']['project_name'] + "/" + config['frontend']['name'] +%}
    {%- set static_dir   = config['set_up']['project_directory'] + config['set_up']['project_name'] + "/" + config['frontend']['name'] + "/static" +%}
    app = Quart(__name__, template_folder="{{ template_dir }}", static_folder="{{ static_dir }}")
    QuartSchema(app)

    # tabs which will be displayed either in the nav bar or the side bar   
    {%- if config['plugins']['hello_world'] +%}
    tabs = ["Overview", "Empty Tab"]    
    {%- endif +%}

    # registers all of your top level routes / (HMTL routes), /api (JSON API routes)
    {%- if config['backend']['api'] +%}
    app.register_blueprint(api.bp)
    {%- endif +%}
    {%- if config['backend']['html_routes'] +%}
    app.register_blueprint(html_routes.bp)
    {%- endif +%}

    # this config file is used by WebWeaver to ensure your web app does exactly what you specified
    if webweaver_config:
        app.config.update(webweaver_config)
    
    # Before serving the webserver: initialize the database connection; if the project has one
    @app.before_serving
    async def before_serving():
        await db_interface.init_db()

    # this is the default index route; template served depends on website type + plugins chose
    @app.route("/")
    async def index():
    {%- if config['plugins']['hello_world'] +%}
        return await render_template('hello_world.html', backend="{{ config['backend']['name'] }}", frontend="{{ config['frontend']['name'] }}", database="{{ config["database"]["name"] }}", tabs=tabs)
    {%- endif +%}
    return app