# Store all sensitive data here (automatically excluded inside .gitignore) 
DATABASE_URL = "postgresql+asyncpg://{{ config['database']['username'] }}:{{ config['database']['password'] }}@{{ config['database']['hostname'] }}/{{ config['database']['database_name'] }}"