<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebWeaver Hello World Template</title>
    <!-- Favicon -->
    <link rel="icon" href="{{ url_for('static', filename='images/webweaver_logo.png') }}" type="image/x-icon">
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/hello_world.css') }}">
</head>
<body>
    <div id="header">
        <div>WebWeaver Hello World</div>
        <img src="{{ url_for('static', filename='images/webweaver_logo.png') }}" alt="WebWeaver Logo">
        {% for tab in tabs %}
            <div class="nav-bar-tab">{{ tab }}</div>
        {% endfor %}
    </div>

    <div id="overview-flexbox">
        <div>
            <h2>Database</h2>
            <img src="{{ url_for('static', filename='images/' + database + '.png') }}" alt="Database Chosen" class="framework-images">
        </div>
        <div>
            <h2>Backend</h2>
            <img src="{{ url_for('static', filename='images/' + backend + '.png') }}" alt="Backend Chosen" class="framework-images">
        </div>
        <div>
            <h2>Frontend</h2>
            <img src="{{ url_for('static', filename='images/' + frontend + '.png') }}" alt="Frontend Chosen" class="framework-images">
        </div>
    </div>

    <a href="/docs">Swagger UI Overview of Website Generated</a>
</body>
</html>