

{% block content %}
<div id="overview-flexbox">
    <div>
        <h2>Database</h2>
        <img src="{{ url_for('static', filename='images/' + database + '.png') }}" alt="Database Chosen" class="framework-images">
    </div>
    <div>
        <h2>Backend</h2>
        <img src="{{ url_for('static', filename='images/' + backend + '.png') }}" alt="Backend Chosen" class="framework-images">
    </div>
    <div>
        <h2>Frontend</h2>
        <img src="{{ url_for('static', filename='images/' + frontend + '.png') }}" alt="Frontend Chosen" class="framework-images">
    </div>
</div>
{% endblock %}