/* Tags Styling */
body {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    /* dark mode by default uses this dark gray */
    background-color: #121212;
}
h1 {
    font-family: Roboto, Helvetica, Arial, sans-serif;
}
h2 {
    text-align: center;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}
a {
    margin-top: 5%;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

/* ID Styling */
#overview-flexbox {
    display: flex; 
    column-gap: 10%;
}

/* Class Styling */
.framework-images {
    height: 120px; 
    border-radius: 10px;
    border: 2px solid black;
    padding: 5px;
}